---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}
const props = Astro.props;
---

<section
  class={cn(
    "w-full h-full border border-white/5 bg-black/20 rounded-2xl sm:p-7 p-4 flex flex-col hover:border-white/10 transition-all",
    props.class,
  )}
>
  <slot />
</section>
