---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const props = Astro.props;
---

<section
  class={cn(
    "grid gap-y-4 md:gap-5 h-full md:grid-cols-2 lg:grid-cols-3 lg:auto-rows-auto",
    props.class,
  )}
>
  <slot />
</section>
