---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const props = Astro.props;
---

<section class={cn("border-2 border-white/5 rounded-3xl p-5", props.class)}>
  <slot />
</section>
