---
import { cn } from "@/lib/utils";

interface Props {
  href: string;
  variant?: "bordered";
}
const { href, variant } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={cn(
    "flex items-center gap-x-1 py-2 px-4 rounded-xl  text-lg hover:text-emerald-300 active:scale-95 transition-all",
    variant === "bordered" && "bg-white/[0.01] border border-white/10",
  )}
>
  <slot />
</a>
