<div class="inline-flex motion-preset-pop">
  <span
    class="inline-flex h-full animate-background-shine items-center justify-center rounded-full border border-gray-800 bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] bg-[length:250%_100%] px-3 py-[3px] text-sm font-medium"
  >
    ✨ Disponible para trabajar
  </span>
</div>
