---
import Github from "@/assets/icons/github.astro";
import Linkedin from "@/assets/icons/linkedin.astro";
import MailSend from "@/assets/icons/mail-send.astro";
---

<div class="flex flex-wrap items-center justify-center gap-x-2 mt-10">
  <!-- Social link github -->

  <!--  <a
    href="mailto:elverdavid0839@gmail.com"
    class="hover:text-white flex items-center gap-x-2 bg-white/5 rounded-full py-1 px-3 text-lg"
  >
    <MailSend />
    <span>Contáctame</span>
  </a> -->

  <!-- Social link linkedin -->

  <a
    href="https://www.linkedin.com/in/elverdavid-dev"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-white flex items-center gap-x-2 bg-white/5 rounded-full py-1 px-3 text-lg"
  >
    <Linkedin />
    <span>Linkedin</span>
  </a>
  <a
    href="https://www.linkedin.com/in/elverdavid-dev"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-white flex items-center gap-x-2 bg-white/5 rounded-full py-1 px-3 text-lg"
  >
    <Github />
    <span>Github</span>
  </a>
</div>
