---
import Download from "@/assets/icons/download.astro";
---

<button
  type="button"
  class="py-2 px-6 border border-emerald-300 hover:bg-emerald-300 transition-all rounded-2xl hover:text-background text-xl flex items-center gap-x-1 active:scale-95 shadow-md shadow-emerald-300/20"
  >Descargar CV
  <Download />
</button>
