---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
  color?: string;
}

const props = Astro.props;
---

<section class="flex items-center gap-x-2 font-medium text-xl">
  <!--   <div
    class={cn(
      "p-2 rounded-xl w-fit",
      `bg-${props.color}-300/10 text-${props.color}-300`,
    )}
  >
    <slot name="icon" />
  </div> -->

  <slot />
</section>
