---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const props = Astro.props;
---

<section
  class={cn("grid grid-cols-1 md:grid-cols-5 row-auto gap-4", props.class)}
>
  <slot />
</section>
