---
import Button from "./magic-button.astro";
import MailSend from "@/assets/icons/mail-send.astro";
import Download from "@/assets/icons/download.astro";
---

<section class="my-32 md:max-w-3xl mx-auto motion-preset-slide-up">
  <p class="uppercase tracking-widest text-sm text-center pb-5 text-blue-100">
    ✨ Disponible para trabajar
  </p>

  <h1 class="text-3xl md:text-6xl text-center font-bold">
    Transformo Conceptos en <span class="text-emerald-300"
      >experiencias de usuario</span
    > que destacan
  </h1>
  <p class="text-center md:tracking-wider mb-4 text-lg md:text-2xl mt-5">
    Hola! Soy Elver David, desarrollador web con 2 años de experiencia.
  </p>

  <div class="flex items-center justify-center flex-wrap gap-5 mt-10">
    <Button href="mailto:elverdavid0839@gmail.com">
      <MailSend />
      <span>Contáctame</span>
    </Button>

    <Button variants="bordered">
      <Download />
      Descargar CV
    </Button>
  </div>
</section>
