---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {
  variants?: "bordered" | "light";
}
const { variants, ...props } = Astro.props;
---

<a
  class={cn(
    "py-2 px-6 transition-all rounded-2xl text-xl flex items-center gap-x-1 active:scale-95 text-background bg-emerald-300 ",
    variants === "bordered" &&
      "border border-white/10 hover:border hover:text-white bg-transparent text-forenground bg-background",
    variants === "light" &&
      "bg-white/5 hover:bg-white/10 text-forenground border-none hover:text-emerald-300",
    props.class,
  )}
  target="_blank"
  rel="noopener noreferrer"
  {...props}
>
  <slot />
</a>
