---
import Navbar from "@/components/layout/navbar.astro";
import Footer from "@/components/layout/footer.astro";
import "@fontsource-variable/bricolage-grotesque";
import "@/assets/styles/index.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>
			Portafolio de Elver David Peñate | Desarrollador web con 2 años de
			experiencia
		</title>
	</head>
	<body class="2xl:container 2xl:mx-auto">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	body {
		font-family: "Bricolage Grotesque Variable", sans-serif;
		background: #010409;
		color: #d1d5db;
	}
</style>
