---
//import Navbar from "@/components/layout/navbar.astro";
import Footer from "@/components/layout/footer.astro";
import "@fontsource-variable/bricolage-grotesque";
import "@/assets/styles/index.css";
import Head from "@/layouts/Head.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<Head />
	<body class="2xl:container 2xl:mx-auto">
		<!-- <Navbar /> -->
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	body {
		font-family: "Bricolage Grotesque Variable", sans-serif;
		background: #010409;
		color: #d1d5db;
	}
</style>
